body{
	margin: 0px;
	padding: 10px 0px 0px 5px;
	font-family: verdana, tahoma, sans-serif;
	font-size: 7pt;
	background-color: white;
}

.table {
	display: table;
}
.table.passed {
	border:1px solid #006600;
}
.table.failed {
	border:1px solid #AA0000;
}
.table.error {
	border:1px solid #FFD700;
}

.header {
	display: table-cell;
	padding: 3px 2px 1px 5px;
}
.header.passed {
	background-color: #006600;
	color: #ffffff;
}
.header.failed {
	background-color: #AA0000;
	color: #ffffff;
}
.header.error {
	background-color: #FFD700;
	color: #000000;
}

.row {
	display: table-row;
}
.row.passed {
	font-size: 0px;
}

.cell {
	display: table-cell;
	width: 100px;
	padding: 0px 3px 0px 3px;
	vertical-align: middle;
}
.cell.status.passed {
	display: table-cell;
	background-color: #FFFFFF;
	color: #006600;
}
.cell.status.failed {
	display: table-cell;
	background-color: #FFFFFF;
	color: #AA0000;
}
.cell.passed {
	background-color: #006600;
	color: #ffffff;
}
.cell.failed {
	display: table-row;
}
.cell.failed .value {
	background-color: #AA0000;
	color: #FFFFFF;
	padding: 0px 3px 0px 3px;
	font-size: 7pt;
	width: 100px;
}
.cell.failed .label {
	background-color: #AA0000;
	color: #AAAAAA;
	padding: 0px 3px 0px 3px;
	font-size: 5pt;
	font-style: italic;
	width: 100px;
}
.cell.missing {
	background-color: #CCCCCC;
}
.cell.error {
	background-color: #FFD700;
	width: 417px;
}
